fail_fast: true
repos:
  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: v0.1.7
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1 # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        args: 
        - "--check-untyped-defs"
        additional_dependencies: [types-colorama==0.4.15.12]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: mixed-line-ending
        args:
          - "--fix=lf"
